# fork tests need an archive rpc. these public ones served archive state on 2026 10 05:
# https://eth.drpc.org  https://rpc.mevblocker.io  https://eth-mainnet.public.blastapi.io  https://mainnet.gateway.tenderly.co
MAINNET_RPC_URL=https://eth.drpc.org
FORK_BLOCK=26158000
